<ul id="footer" class="nav">
  <li class="nav-item">
    <p class="nav-link disabled" >EauClaireWare (c) 2022 Matthew Eilar</p>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://www.github.com/meilar">Github</a>
  </li>
</ul>