
@{
  Layout = "_Layout";
}
<div class="container">
  @await Html.PartialAsync("_Navbar")
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Welcome to EauClaireWare: Modern Hair Salon Management.</h5>
      <p class="card-text">Click on the links above to view stylists and clients.</p>
    </div>
    <img id="homepage-photo" class="card-img-bottom" src="~/img/benyamin-bohlouli-_C-S7LqxHPw-unsplash.jpg" alt="photo of hair salon">
  </div>
  @await Html.PartialAsync("_Footer")
</div>